body {
  margin: 0;
  padding: 0;
  font-family: 'Calibri';
}

* {
  box-sizing: border-box; /* https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main {
  
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 30px;
  background-color: #fff;
  box-shadow: 2px 2px 20px rgba(90, 118, 253, 0.13); /* https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow */
  z-index: 1; /* https://developer.mozilla.org/en-US/docs/Web/CSS/z-index */
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
} 

nav ul {
  display: flex;
  padding: 0;
  margin: 0;
}

nav ul li a {
  height: 40px;
  line-height: 43px; /* https://developer.mozilla.org/en-US/docs/Web/CSS/line-height */
  margin: 8px;
  display: flex;
  font-size: 0.9rem;
  /* text-transform: uppercase  ; */
  font-weight: 400;
  color: #111;
  letter-spacing: 1px;
}

nav ul li a:hover {
  background-color: #5a76fd;
  color: #fff;
  box-shadow: 5px 10px 30px rgba(90,118, 253, 0.5);
  transition: all ease 0.2s;
}

